@import "../../../style/base";

.container-a {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;

    .header {
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        .body {
            width: 100%;

            .main-results {

                &.showDetail {
                    display: none;
                }

                display: flex;
                flex-direction: column;
    
                h1 {
                    font-weight: $font-bold;
                    margin: 15px 0px;
                }
            
                .filters {
            
                    display: flex;
                    justify-content: space-between;
            
            
                    .show-map {
                        display: flex;
                        height: fit-content;
                        margin-top: 5px;
            
                        &:hover {
                            cursor: pointer;
                        }
            
                        p {
                            margin: 0 0 0 5px;
                        }

                        i { 
                            padding-top: 3px;
                        }
                    }
            
                    .filters-search {
                        
                        display: flex;
                    }
                }

                .animation {
                    align-self: center;
                }
            
                .cards-a {
                    display: flex;
                    flex-wrap: wrap;
                    max-width: 1300px;
                    padding-top: 25px;
                    margin: 0 auto;
                    justify-content: flex-start;

                    .place-card {
                        margin: 15px;
                        width: fit-content;
                        border: none;

                        animation: fadein 3s;
                        transform: translateY(5px);
                        
                        @keyframes fadein {
                          from { opacity: 0; }
                          to   { opacity: 1; }
                        }

                        &.highlight {
                            box-shadow:0 1px 11px 0 rgba(138,176,65,1);
                          }
                    }
    
                }
    
    
            }

        }

        

        .map-wrapper {

            position: relative;
         
            .fa-window-close {
                position: fixed;
                z-index: 100;
                margin-top: 55px;
                margin-left: 10px;
                font-size: 30px;

                &:hover{
                    cursor: pointer;
                }
            }

            #map {

                height: 800px;
                width: 0px;
                position: sticky !important;
                top: 90px;

                &.show-map {
                    width: 800px;
                }
            }

        }
            
    }

    
    
}
