@import "../../../style/base";

.container {
    width: 100vw;
    height: 100vh;
    min-width: 1200px;
    background-image: url("../../../assets/imgs/landingbkgd.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.quote-search {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    width: 150px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}

.quote {
    width: 700px;
    font-size: 54pt;
    font-weight: $font-bold;
    color: white;
    text-align: center;
    margin-top: 15px;
}

