@import "../../../style/base";

.container-a {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    h1 {
        margin: 20px 0px;
    }

    .trips {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;

        .create-trip {
            i {
                margin-right: 5px;
            }

            p {
                margin: 0;
            }
        }

        .card-a {
            width: 290px;
            height: 225px;
            border-radius: .3rem;
            box-shadow:0 1px 11px 0 rgba(0,0,0,.1);
            margin: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-size: cover;
            font-size: 1.3rem;
            position: relative;

            .trip-name {
                color: white;
                font-weight: 700;
            }

            .fa-times {
                position: absolute;
                left: 260px;
                top: 15px;
                color: rgba(255,255,255,0.35);

                &:hover {
                    color: rgba(255,255,255,1);
                }
            }

            &:hover {
                transform: scale(1.05);
                box-shadow:0 1px 11px 0 rgba(0,0,0,.3);
                cursor: pointer;
            }

        }
    }
}

.modal-header, .modal-footer {
    border: none;
}

.cancel {
    background-color: $journi-orange;
    color: white;
}

.close {
    outline: none;
}
