<app-header></app-header>

<div *ngIf="trip" class="container-a">
    <h1>{{trip.Name}}</h1>
    <div class="days">
        <p class="day-label">Days:</p>
        <i class="fas fa-minus" (click)="removeDays()"></i>
        <p class="day-number">{{days}}</p>
        <i class="fas fa-plus" (click)="addDays()"></i>
    </div>

    <div cdkDropListGroup>

        <div class="example-container" *ngFor="let day of trip.Days; let i = index">
            <div class="header-a">
                <p *ngIf="i !== 0">Day {{i}}</p>
                <p *ngIf="i === 0" >Unscheduled</p>
            </div>
          
            <div cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="day.Places" class="example-list">
                <div class="example-box" *ngFor="let place of day.Places" cdkDrag>
                    <app-drag-place [place]="place" class="drag" (removePlace)="removePlace($event)"></app-drag-place>
                </div>
            </div>
        </div>
    </div>

</div>
