<div class="place-card" (click)="showDetails()" [class.show-map]="showMap">
    <img class="card-image" [src]='cardImageURL'>
    <div class="card-body">
        <div class="header-a">
            <p class="card-name">{{ cardName }}</p>
            <div class="heart-icon" (click)="savePlace()">
                <i class="fas fa-heart"></i>
                <i class="far fa-heart"></i>
            </div>
        </div>
        <div class="rating-wrapper">
            <p><i class="fas fa-star"></i> {{cardRating}}</p>
            <p class="total-ratings">{{cardTotalRatings}} ratings</p>
        </div>
    </div>
</div>
