@import "../../../style/base";

.card {
  border-radius: .5rem;
  width: 225px;
  height: 240px;
  // border-left: 2px solid $journi-green;

  &:hover {
    cursor: pointer;
  }
  
  
  .card-img {
    display: block;
    width: 100%;
    height: 150px;
    border-top-right-radius: .5rem; 
    border-top-left-radius: .5rem; 
  }
  
  .card-body {
    height: 80px;
    background-color: #fff;
    border-bottom-right-radius: .5rem; 
    border-bottom-left-radius: .5rem; 
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;

    .header {
      display: flex;
      justify-content: space-between;
      flex-grow: 1;
      
      .card-name{
        margin: 0px;
        width: 150px;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
      }

      .heart-icon {
        position: relative;
        width: fit-content;
        height: fit-content;
        margin-right: 15px;

        &:hover {

          .fas {
            display: block;
          }

          .far {
            display: none;
          }
        }

        .fa-heart {
          position: absolute;
          width: fit-content;
          height: fit-content;
        }

        .fas {
          display: none;
          color: #f8836b; 
        }

      }

    }

    .rating-wrapper {
      display: flex;
      font-weight: 300;
      justify-content: space-between;
      font-size: 13px;

      .fa-star{
        color: $journi-orange;
      }

      .total-ratings {
        color: rgb(104, 104, 104);
      }
    }
  }
}
  