@import "../../../style/base";

.card {
  border-radius: .5rem;
  width: 225px;
  height: 300px;
  // border-left: 2px solid $journi-green;
  
  
  &-img {
    display: block;
    width: 100%;
    height: 150px;
    border-top-right-radius: .5rem; 
    border-top-left-radius: .5rem; 
  }
  
  &-body {
    height: 140px;
    background-color: #fff;
    border-bottom-right-radius: .5rem; 
    border-bottom-left-radius: .5rem; 
    padding: 10px 10px 0px 10px;
  }
  
  &-name {
    margin: 0px;
    width: 150px;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2;
  }
  
  &-desscription {
    margin: 0 0 2rem 0;
  }
}
  