@import "../../../style/base";

.container-a {
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: sticky;

    .header {

        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        background: white;
        z-index: 100;
        box-shadow: 0 2px 2px -2px grey;
        padding-bottom: 20px;

        .logo {
            width: 100px;
            float: left;
            margin-top: 20px;
            margin-left: -7px;
        }

        .nav {
            margin-top: 30px;

            &:hover {
                cursor: pointer;
            }
        }



    }
}