@import "../../../style/base";

.drag-row {
    display: flex;
    justify-content: space-between;

    .close-name {
        display: flex;

        p {
            margin: 0;
        }

        .fa-times {
            padding-top: 3px;
            margin-right: 10px;
            color: $journi-grey;

            &:hover {
                cursor: pointer;
            }
        }

    }

}