<div class="filters-search">
    <div ngbDropdown class="dropdown">
        <button class="filter-btn" id="dropdownBasic1" ngbDropdownToggle>Distance</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
  
        </div>
    </div>
    <div ngbDropdown class="dropdown">
        <button class="filter-btn" id="dropdownBasic1" ngbDropdownToggle>Type</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="sub-btn" (click)="setSelected('museum')" ngbDropdownItem>Museum</button>
          <button class="sub-btn" (click)="setSelected('park')" ngbDropdownItem>Park</button>
          <button class="sub-btn" (click)="setSelected('restaurant')" ngbDropdownItem>Restaurant</button>
          <button class="sub-btn" (click)="setSelected('all')" ngbDropdownItem>All</button>
        </div>
    </div>
</div>
