@import "../../../style/base";

.filters-search {
    display: flex;

    .dropdown {

        .filter-btn {
            border: 1px solid $journi-grey;
            height: 35px;
            width: fit-content;
            margin-right: 15px;
            border-radius: 3px;
            font-size: 15px;
            outline: none;
            color: black;
        
            &:hover {
                cursor: pointer;
                background-color: $journi-green;
                color: white;
            }

            &:focus {
                background-color: $journi-green;
                color: white;
                outline: none;
            }

        }

        .sub-btn {

            &:active {
                outline: none;
                background-color: $journi-green;
            }
        }

        .distance-filter {

            padding: 10px;

            .radius {
                display: flex;

                select {
                    margin-right: 5px;
                    height: 30px;
                }
            }
    
            .btns {
                display: flex;
                justify-content: space-between;

                button {
                    color: white;
                    background-color: $journi-green;
                    border: none;
                    border-radius: 2px;
                }
            }

            .center {
                margin-bottom: 10px;
                
            }
        }

    }
}
