@import "../../../style/base";

.modal-header {
    border: none;

    .close {
        outline: none;
    }

}

.modal-body {

    input {
        outline: none;
        border: none;
        border-bottom: 2px solid $journi-light-blue;
        font-size: 1.3rem;
    }

    p {
        color: $journi-orange;
        font-size: 12px;
    }
}

.modal-footer {
    border: none;
}
